#**Data Types and Structures Theory Questions**

#**Q1) DP What are data structures, and why are they important?**
 A1)They’re like containers to keep your data organized — like putting your clothes in different drawers: shirts in one, pants in another.

Why are they important?
Faster work – if things are in the right place, you find them quicker.

Easy to manage – keeps your data neat and clean.

Helps in solving problems – the right structure makes coding simple and smart.

Example:
When you use your phone browser:

Stack remembers your back history.

Queue manages downloads in order.

Hash table helps load pages faster from cache.

#**Q2) Explain the difference between mutable and immutable data types with examples**

A2)In Python, data types are categorized into two main types: mutable and immutable, based on whether their values can be changed after the object is created.

1. Mutable Data Types:
Mutable data types are those which can be modified or changed after they are created. This means that we can update, add, or remove elements from them without creating a new object.

Common examples of mutable data types include:

List

Dictionary

Set

For example, if we store some numbers in a list and later decide to change a value or add a new one, it is possible because the list is mutable.

2. Immutable Data Types:
Immutable data types are those which cannot be changed after creation. Once the value is assigned, it stays fixed. If any change is needed, Python creates a new object instead of modifying the existing one.

Examples of immutable data types include:

String

Integer

Float

Tuple

Boolean

For example, if we store a word in a string and want to change one letter of that word, Python will not allow direct changes, because strings are immutable.

#**Q3)What are the main differences between lists and tuples in Python?**
A3)Lists and tuples are both used in Python to store multiple values, but there are some basic differences between the two.

The biggest difference is that lists can be changed, but tuples can’t. This means if you make a list, you can add, remove, or update items later. But once a tuple is made, it stays the same — you can’t edit it.

Another small difference is the brackets. Lists use square brackets like [ ] and tuples use round ones like ( ). It’s a small thing but important when writing code.

Also, tuples are a bit faster and take less memory, so if you don’t need to change the data, using a tuple is better. But most of the time, people use lists because they’re more flexible and have more options like adding or sorting items.

#**Q4)Describe how dictionaries store data**
A4)In Python, a dictionary is a type of data that stores values in key-value pairs. This means instead of storing data in order like a list, it stores data with a label (called a "key") and the actual value.

For example, think of a dictionary like a contact list in your phone. You don’t search by number, you search by the name. So "name" is the key, and the number is the value. Python dictionaries work in the same way.

The best part is that each key is unique, and it helps us find the value super fast, without checking every item one by one. That’s why dictionaries are useful when you need to look up something quickly by a name or ID.

So in short, a dictionary stores data like this:
Key ➝ Value
and it’s great for fast searching and organizing related data.

#**Q5)Why might you use a set instead of a list in Python**
A5)You might use a set instead of a list when you want to store data without any duplicates. The main feature of a set is that it automatically removes repeated items. So if you don’t care about the order of elements and just want unique values, a set is the better choice.

Also, sets are faster when it comes to checking if something exists in it. Like, if you want to see whether a number is present or not, sets do that quickly compared to lists.

#**Q6)What is a string in Python, and how is it different from a list.**
A6)In Python, a string is just a bunch of characters joined together — like words or sentences. You write it inside quotes, single or double, doesn’t matter. For example, "hello" is a string.

Now the main difference between a string and a list is that even though both hold a sequence of things, they’re not the same. A list can have different types of items (like numbers, strings, etc.), but a string only holds characters.

Also, strings are immutable, which means once you create a string, you can’t change a part of it. But lists are mutable, so you can change, add, or remove items from a list anytime.

#**Q7)How do tuples ensure data integrity in Python**
A7)Tuples help in data integrity because they are immutable, which means once a tuple is created, its values can’t be changed. This makes sure that the data stays the same throughout the program and doesn’t get accidentally modified somewhere.

So, if there’s some information in your code that should stay fixed and protected, using a tuple is a safe choice. For example, if you’re storing fixed coordinates, dates, or settings that shouldn’t change, tuples make sure no one messes with them by mistake.

Basically, tuples act like a lock on the data — what you put in stays the same. That’s how they help in keeping your data safe and consistent

#**Q8)What is a hash table, and how does it relate to dictionaries in Python**
A8)A hash table is a type of data structure that stores data in key-value pairs, and it uses something called a hash function to decide where each key-value pair should go in memory. This helps in finding values really fast just by using the key.

In Python, the dictionary (dict) is actually built using this hash table concept. When you create a dictionary and give it some key-value pairs, Python uses hashing behind the scenes to store and access the data quickly.

So when you do something like my_dict["name"], Python doesn’t search everything one by one. Instead, it directly jumps to the value using the hash of the key. That’s why dictionaries are super fast for lookups.

#**Q9)Can lists contain different data types in Python**
A9)Yes, lists in Python can store different data types together. That means you can have numbers, strings, booleans, even other lists all inside the same list.

This is one of the reasons why lists are super flexible in Python. You’re not limited to just one type — you can mix anything. For example, you can have a list like: a number, a word, and even True — all in one place.

#**Q10) Explain why strings are immutable in Python**
A10)In Python, strings are immutable, which means once a string is created, it can’t be changed. You can’t change a single character or part of the string directly — you’d have to create a new string if you want to modify it.

The reason for this is mostly about safety and performance. Since strings are used a lot in programs, making them immutable helps Python run faster and avoid unexpected bugs. If strings could be changed anytime, it could mess up other parts of the code that are using the same string.

#**Q11) What advantages do dictionaries offer over lists for certain tasks**
Q11)Dictionaries are better than lists for some tasks because they let you store and access data using keys, not just index numbers. This means if you have a lot of data and want to find something quickly using a name, ID, or label, a dictionary is much faster and easier to use.

For example, if you have student records, using a dictionary with names or roll numbers as keys is more practical than a list where you’d have to search through each item one by one.

#**Q12)Describe a scenario where using a tuple would be preferable over a list?**
A12)A tuple is better than a list when you have some data that shouldn’t change. Like, imagine you’re storing the coordinates of a location, such as latitude and longitude. Once that location is saved, there’s no reason to change it — it should stay fixed. In that case, using a tuple makes more sense.

Also, tuples are a bit faster and take less memory, so if you have a lot of fixed data (like days of the week or months), it’s better to use tuples instead of lists.

#**Q13)How do sets handle duplicate values in Python?**
A13)In Python, sets don’t allow duplicate values. If you try to add the same value more than once, the set will just keep one copy and automatically ignore the rest.

So basically, a set always stores unique items only, no matter how many times you repeat something. This is super useful when you want to clean up data and remove duplicates without doing extra work.

For example, if you had a list with repeated numbers and turned it into a set, all the duplicates would be gone — just like that.

#**Q14)How does the “in” keyword work differently for lists and dictionaries?**
A14)The “in” keyword is used to check if something exists inside a list or a dictionary, but it works a bit differently for both.

In a list, “in” checks whether the value is present or not. So if you write something like 5 in my_list, it will look through the list to see if 5 is there.

In a dictionary, “in” only checks the keys, not the values. So if you write "name" in my_dict, it will check if "name" is one of the keys, not whether it’s a value inside.

#**Q15)Can you modify the elements of a tuple? Explain why or why not?**
A15)No, you can’t modify the elements of a tuple in Python. The reason is that tuples are immutable, which means once you create a tuple, you can’t change, add, or remove anything from it.

This is done on purpose — so that the data inside stays safe and fixed. It helps avoid mistakes where something changes by accident. So if you need data that should stay the same throughout your program, using a tuple is a good idea.

#**Q16) What is a nested dictionary, and give an example of its use case?**
A16)A nested dictionary is just a dictionary inside another dictionary. It’s used when you want to store more detailed or layered information — like data within data.

Think of it like this: if you’re storing info of multiple students, and for each student you want to save their name, age, and marks — you can use a dictionary where each key is a student ID, and the value is another dictionary with that student’s details.

It helps to keep things organized and grouped together properly, especially when handling structured data.

#**Q17)Describe the time complexity of accessing elements in a dictionary.**
A17)In Python, accessing elements in a dictionary is usually very fast. The time complexity for this is O(1), which means it takes constant time — no matter how big the dictionary is.

This speed is possible because dictionaries use something called a hash table in the background. So when you try to get a value using a key, Python doesn’t search through everything — it jumps directly to the right place using the key’s hash.

But in rare cases, like if there are a lot of key collisions (same hash values), it might slow down a bit. Even then, it’s still much faster than searching through a list.

#**Q18)In what situations are lists preferred over dictionaries?**
A18)Lists are better than dictionaries when you just need to store a bunch of items in a specific order, and you don’t need to label them with keys.

For example, if you’re working with a list of names, numbers, or tasks that you just want to go through one by one, a list is perfect. You can easily loop through it, sort it, or add/remove items without worrying about keys.

#**Q19)Why are dictionaries considered unordered, and how does that affect data retrieva?**
A19)Dictionaries in Python are called unordered because they don’t store items in the order you add them — at least not before Python 3.7. Even though in newer versions they seem to keep the order, technically, we still treat them as unordered because the main focus is on keys, not the order.

But the cool thing is, even if the items are not stored in a fixed sequence, it doesn’t affect data retrieval. That’s because when you look something up in a dictionary, Python uses the key, not the position. So it directly jumps to the value using the key — no matter where it is placed.

#**Q20)Explain the difference between a list and a dictionary in terms of data retrieval.**
A20)The main difference between a list and a dictionary in data retrieval is how you access the data.

In a list, you get items using their position — like first item, second item, and so on. So if you want something, you need to know its index number. This can be slow if you’re searching for a specific value without knowing where it is.

But in a dictionary, you access data using a key, not position. This makes it much faster, especially when dealing with large data. You just ask for the value by its key, and Python jumps straight to it — no searching through everything.

#**Practical Questions**

#**Q1)Write a code to create a string with your name and print it.**

In [1]:
#A1)

name = 'waiz'
print(name)

type('name')

waiz

str

#**Q2)Write a code to find the length of the string "Hello World"**

In [1]:
#A2)

string = 'hello world'
len(string)

11

#**Q3)Write a code to slice the first 3 characters from the string "Python Programming"**

In [2]:
#A3)

text = "Python Programming"
first_three = text[:3]
print(first_three)

Pyt

#**Q4)Write a code to convert the string "hello" to uppercase**

In [6]:
#A4)

text = "hello"
upper_text = text.upper()
print(upper_text)

HELLO

#**Q5)Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [7]:
from os import replace
#A5)

str = ('i like apple')
replace = str.replace('apple', 'orange')
print(replace)

i like orange

#**Q6)Write a code to create a list with numbers 1 to 5 and print it.**

In [11]:
#A6)

numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

#**Q7)Write a code to append the number 10 to the list [1, 2, 3, 4]**

In [12]:
#A7)

list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

#**Q8)Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [13]:
#A8)

list = [1,2,3,4,5]
remove = list.remove(3)
print(remove)

None

#**Q9)Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [5]:
#A9)

letter = ['a', 'b', 'c', 'd']
second_element = letter[1]
print(second_element)

b

#**Q10)Write a code to reverse the list [10, 20, 30, 40, 50].**

In [6]:
#A10)

list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

#**Q11) Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [7]:
#A11)

tuple = (100,200,300)
print(tuple)

(100, 200, 300)

#**Q12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [8]:
#12)

tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = tuple[-2]
print(second_to_last)

blue

#**Q13)Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [9]:
#A13)

tuple = (10,20,5,15)
min_number = min(tuple)
print(min_number)

5

#**Q14)Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [16]:
#A14)

animal = ('dog', 'cat', 'rabbit')
cat_index = animal.index('cat')
print(cat_index)

1

#**Q15)Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [17]:
#A15

basket = ('apple', 'orange', 'banana')
if 'kiwi' in basket:
  print('print kiwi is in tuple')
else:
  print('print kiwi is not in tuple')

print kiwi is not in tuple

#**Q16)Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [18]:
#A16)

set = {'a', 'b', 'c'}
print(set)

{'b', 'c', 'a'}

#**Q17)Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [19]:
#A17)

set = {1,2,3,4,5}
set.clear()
print(set)

set()

#**Q18) Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [20]:
#A18)

set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

#**Q19) Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [26]:
#A19)

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

#**Q20)Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [27]:
#A20)

set1 = {1,2,3}
set2 = {2,3,4}
intersection_stet = set1.intersection(set2)
print(intersection_stet)

{2, 3}

#**Q21)Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [30]:
#A21)

person = {'name': 'waiz', 'age': '23', 'city': 'lucknow'}
print(person)

{'name': 'waiz', 'age': '23', 'city': 'lucknow'}

#**Q22)Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [35]:
#A22)

person = {'name': 'jhone', 'age':25}
person['country'] = 'usa'
print(person)

{'name': 'jhone', 'age': 25, 'country': 'usa'}

#**Q23)Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [38]:
#A23)

person = {'name': 'alice', 'age': 30}
name_value = person['name']
print(name_value)

alice

#**Q24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [39]:
#A24)

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

#**Q25)Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [40]:
#A25)

person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
  print('city is in dic')
else:
  print('city is not in dic')

city is in dic

#**Q26) Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [42]:
#A26)

list = [1,2,3,4,5]
print(list)

tuple = (1,2,3,4,5)
print(tuple)

person = {'name': 'waiz', 'age': 23, 'city': 'lucknow'}
print(person)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'waiz', 'age': 23, 'city': 'lucknow'}

#**Q27) Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)**

In [44]:
#A27)

import random

# Create a list of 5 random numbers between 1 and 100
numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
numbers.sort()

# Print the sorted list
print("Sorted list:", numbers)

Sorted list: [5, 6, 15, 25, 69]

#**Q28)Write a code to create a list with strings and print the element at the third index.**

In [45]:
#A28)


fruits = ['apple', 'banana', 'cherry', 'mango', 'orange']


print("Element at index 3:", fruits[3])

Element at index 3: mango

#**Q29) Write a code to combine two dictionaries into one and print the result.**

In [47]:
#A29)


dict1 = {'name': 'waiz', 'age': 23}
dict2 = {'city': 'Lucknow', 'country': 'India'}


combined_dict = {**dict1, **dict2}


print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'waiz', 'age': 23, 'city': 'Lucknow', 'country': 'India'}

#**Q30)Write a code to convert a list of strings into a set.**

In [70]:
#A30)

words = ['apple', 'banana', 'apple', 'cherry', 'banana']
unique_words = (words)
print("Set:", unique_words)

Set: ['apple', 'banana', 'apple', 'cherry', 'banana']